.quote {
    font-size: 5px;
    text-align: center;
    font-family: 'Dosis', cursive;
    text-shadow: 1px 1px 2px black;
}

.headfoot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}