.code1 {
    width: 15%;
    height: auto;
    float: left;
}

.code2 {
    position: relative;
    width: 15%;
    top: -75px;
    height: 150px;
    float: right;
}

.firsth2 {
    text-align: left;
}

.secondh2 {
    text-align: left;
}

.portfoliofoot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}